*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* nav */

nav{
    height: 70px;
}

/* jumbotron */

#jumbotron{

}

#jumbotron>div{
    height: 90%;
}

.banner{
    height: 100%;
}

.promo{
    height: 80px;
    background-color: crimson;
}

/* section ps5 */

.img_box{

}

/* debug */

.debug .box{
    background-color: black;
    height: 30px;
}

.debug #jumbotron{
    background-color: brown;
    height: 600px;
}

.debug .img_box{
    height: 500px;
    background-color: cyan;
}

.debug .img_boxy{
    height: 150px;
    background-color: darkcyan;
}