*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

a{
    text-decoration: none;
}

strong{
    color: black;
    filter: opacity(100%);
}

strong:hover{
    color: #0070d1;
}

._white{
    color: white;
}

.h_cover{
    height: 100%;
}

.h_cover_75{
    height: 75%;
}

._btn{
    border-radius: 20px;
}

._crimsom_bg{
    background-color: #cd3d0f;
}

._crimsom_bg:hover{
    border: 1px solid black;background-color: #cd3d0f;
}

._btn_ps{
    border-radius: 20px;
    background-color: #cd3d0f;
    color: white;
}

._btm_ps_2{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.459);
    color: #2d64e6;
}

._grey_text{
    font-size: 1.4rem;
    color: #c3c2c2;
    line-height: 1.2em;
}

._dark_grey_text{
    color: #727272;
    font-size: 1.4rem;
    line-height: 1.2em;
}

._margin_a{
    margin: 0 auto;
}

._rounded{
    border-radius: 20px;
}

._small_fs{
    font-size: 1rem;
}
/* nav */
nav .dropdown-menu a{
    font-weight: 700;
    color: black;
}

.bg_light{
    background-color: white;
}
/* overiding bootstrap's nav prop */

.dropdown{
    position: static;
}

nav .container-fluid{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* fine overide */

._nav_btn{
    max-width: 200px;
}

._nav_item{
    display: inline-block;
}

._nav_item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

._ico{
    height: 100px;
    margin: 0 auto;
}

._dropdown{
    background-color:white ;
    padding: 10px;
    width: 100vw;
    
    
}

#_sony{
    width: 50px;
    position: fixed;
    right: 10px;
    top: 10px
}

._drop_wide{
    width: 99vw;
    margin: 0 0 0 0;
    left:0;
}

nav{
    height: 70px;
}

#logo{
    height: 50px;
    width: 50px;
}

/* jumbotron */

#jumbotron{
    margin-top: 100px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    height: 800px;
    background-position: bottom;
}

#jumbotron>div{
    height: 90%;
}

.banner{
    height: 100%;
}

.promo{
    transition: 0.5s ease;
}

.promo:hover{
    transform: scale(1.1); 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 4px solid gray; */

}


/* section ps5 */

._selected{
    border-bottom: 1px solid #0072ce;
}

._not_selected{
    filter: opacity(0.7);
}

/* section promo-game */

#promo-game{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    height: 900px;
}

#promo-game>div{
    height: 90%;
}

/* section nuove-uscite */

#nuove-uscite{
    color: white;
}

#nuove-uscite .box{
    width: 100%;
}

#nuove-uscite .box img{
    width: 100%;
}

/* section psplus */

#psplus{
    height: 500px;
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-color: #bebcbb;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}



#psplus .psp_banner{
    height: 100%;
}

/* section sconti */

/* psnow */
#playstation-now{
    background-image: url(../img/ps-now-april-featured-image-block.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #161c3b;
    height: 500px;

}


@media screen and (max-width:1046px) {
    #psplus , #playstation-now{
        background-image: none;
    }

}
/* footer */

footer{
    min-height: 600px;
    background-color: #00439c;
    padding-top: 100px;
}

#foot_logo{
    width: 100px;
    filter: brightness(5);
    
}

#sie-logo{
    height: 50px;
}

footer li{
    line-height: 2rem;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    text-decoration: none;
    color: #cd3d0f;
}

#_lang{
    width: 25px;
}
/* debug */

.debug header .box{
    background-color: black;
    height: 30px;
}
/* 
.debug #jumbotron{
    background-color: brown;
    height: 800px;
} */

.debug .img_box{
    height: 500px;
    background-color: cyan;
}

.debug .img_boxy{
    height: 150px;
    background-color: darkcyan;
}

.debug #promo-game{
    background-color: darkgoldenrod;
}

.debug #nuove-uscite{
    background-color: #1f1f1f;
}

.debug #psplus{
    background-color: #bebcbb;
}

.debug #playstation-now{
    
}